:3300 {
	encode gzip

	handle /core-api* {
		uri strip_prefix /core-api
		reverse_proxy api:4310
	}

	handle /mcp-api* {
		uri strip_prefix /mcp-api
		reverse_proxy api:4311 {
			flush_interval -1
		}
	}

	handle /marketplace-api* {
		uri strip_prefix /marketplace-api
		reverse_proxy api:4312
	}

	handle /oauth-api* {
		uri strip_prefix /oauth-api
		reverse_proxy api:4313
	}

	handle /private-api* {
		uri strip_prefix /private-api
		reverse_proxy api:4314
	}

	handle {
		root * /usr/share/caddy
		try_files {path} /index.html
		file_server
	}
}
